/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Header */
header {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border: 1px solid #ddd;
}

/* Titles */
h2 {
    margin-bottom: 10px;
    color: #1e3a8a;
}

/* Profile Image */
.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 10px;
}

/* Skills */
ul {
    margin-left: 20px;
}

/* Projects */
.project {
    margin-bottom: 15px;
}

/* Certificates */
.certificate-box img {
    width: 300px;
    border: 2px solid #1e3a8a;
    border-radius: 10px;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
